<div class="banner">
  <div class="navbar-lewagon d-flex">
    <i class="fas fa-cocktail fa-3x"></i>
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-ghost" %>
  </div>
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col">
          <div class="card">
            <div class="card-img-top">
              <%= image_tag("https://source.unsplash.com/400x400/?#{cocktail.name}") %>
            </div>
            <div class="card-body">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


