<div class="banner">
  <h1>Cocktail List</h1>
  <div class="container d-flex justify-content-center">
    <% @cocktails.each do |cocktail| %>
    <div class="card m-3 p-3" style="width: 200px;">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
    <% end %>
  </div>
  <div>
    <h4><%= link_to "Add a new cocktail", new_cocktail_path %></h4>
  </div>
</div>
